body{
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
}

a{
    text-decoration: none;
    color:white;
}

a:visited{
    text-decoration: none;
    color:white;
}

/*header full page */
#header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color:white;
    background-color: #E8AB9E;
    width: 100vw;
}

#title{
    flex:0 1 50%;
    padding: 2%;
    white-space: nowrap;
}

#navbar{
    flex:2 1 auto;
    white-space: nowrap;  
}
#navbar p{
    display: inline;
    padding: 4%;
}

.mobile_separator{
    visibility: hidden;
}

/*full screen want to wrap gallery image */
#main_content{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1%;
}

#full_page{
    display:flex;
    flex-wrap: nowrap;
}

#info{
    flex: 1;
    color:#6C2E2F;
}

#info_content{
    width: 55%;
    display: flex;
    align-items: center;
}

#info h2{
    white-space: nowrap;
}

#image{
    flex:2 2 20%;
}

#main_picture_caption{
    font-weight: bold;
}

#main_picture_paint_description{
    font-style: italic;
}

#image figcaption{
    display: inline;
}

#gallery{
    display:flex;
    flex-direction: row;
    align-content: space-between;
}

.two_picture_container{
    display:flex;
}

.picture_container{
   flex: 0 1 auto;
   padding: 1%;
}

.picture{
    width: 100%;
}

.picture_caption{
    visibility: hidden;
}

.paint_description{
    font-style: italic;
}

#sticky_footer{
    margin-top: 10px;
    display:flex;
    flex-direction: row;
    color: white;
    background-color: #E8AB9E;
}

#location{
    flex: 1;
}

#hours{
    flex: 1;
}

/*header mobile version */
@media screen and (max-width:480px){
    
    #header{
        display:flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

     #title{
        flex:1;
        padding: 2%;
        white-space: nowrap;
    }

    #navbar{
        flex: 2;
        white-space: nowrap;
    
    }
    /* #navbar p{
        display: inline;
        flex-wrap: nowrap;
        padding: 5%;
    }  */

    .mobile_separator{
        visibility: visible;
    }

} /*end of media query */


/*mobile and tablet view, remove large image */
@media screen and (max-width:720px){

    #image{
        display: none;
    }

}

/* tablet screen */
@media screen and (max-width: 720px) and (min-width: 480px){

    #main_content{
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 1%;
    }

    #info_content{
        width: 70%;
        display: flex;
        align-items: center;
    }

     #gallery{
        display:flex;
        flex-direction: row;
        flex-flow: wrap;
        
    }

    .two_picture_container{
        display:flex;

    }
    
    .picture_container{
       flex: 0 1 auto;
       padding: 1%;
    }
    
    .picture{
        width: 100%;
    } 

    .picture_caption{
        visibility: visible;
    }

}


/*mobile screen */
@media screen and (max-width: 480px){

    #info_content{
        width:100%;
        display: flex;
        align-items: center;
    }

    #gallery{
        display:flex;
        flex-direction: column;
        align-content: space-between;
    }

    

    .two_picture_container{
        display:flex;
        flex-direction: column;
    }
    
    .picture_container{
       flex: 0 1 auto;
       padding: 1%;
    }
    
    .picture{
        width: 100%;
    }

    .picture_caption{
        visibility: visible;
    }

    #sticky_footer{
        margin-top: 10px;
        display:flex;
        flex-direction: column;
    }

}

